{% extends "base.html" %}

{% block content %}
    {# hero  #}
    <h1>Welcome to Pitch</h1>
    <h3>Pitch keeps a collection of awesome 1 minute pitches which you can explore and add to.</h3>
    
    {# navigation - will move to base.html when using bootstrap nav #}
    <nav>
        <ul>
            <li><a href="{{ url_for('main.index') }}">Sign Up</a></li>
            <li><a href="{{ url_for('main.login') }}">Log In</a></li>
            <li><a href="{{ url_for('main.logout') }}">Log Out</a></li>
        </ul>
    </nav>
{% endblock %}
