{% extends "base.html" %}

{% block content%}
    <div class="container">
        <h1>Hi {{ user.username.title() }}</h1>
        <div class="row">
            <div class="col-md-8">
                <h2>Pitches</h2>
                {% for pitch in pitches %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                        {{ pitch.body }}
                        </div>
                        <div class="panel-footer">
                            <h3 class="panel-title">Posted by {{ pitch.author.username }} on {{ pitch.timestamp.strftime("%x") }}</h3>
                            <a href="{{ url_for('main.comments', pitch=pitch) }}" style="color: #2b2bff;" class="panel-title">Comments</a>
                        </div>
                      </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
